.header-bg {
background: rgb(106,50,171);
background: linear-gradient(90deg, rgba(106,50,171,1) 0%, rgba(156,131,244,1) 100%);
  width: 100%;
  z-index: 100;
}

.main-background {
  background-color: rgba(238, 229, 246, 0.4);
}

.img-responsive {
  max-width: 90%;
  max-height: 90%;
}