.jumbotron-wrapper {
  margin-bottom: 0px;
  padding-bottom: 3rem;
}

.scroll-column {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.activity-scroll-column {
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
}

.intern-hr {
  margin: 5rem 8rem 2rem;
}